.footer {
  display: flex;
  align-items: center;
  height: 8vh;
  padding: 0 2rem 0 0;
}

.footerNav {
  display: flex;
  align-items: flex-start;
  width: auto;

}

.footerNav a {
  font-size: 0.8rem;
  font-family: Montserrat-Thin;
  color: white;
  padding: 2rem;
  cursor: pointer;
  font-weight: normal;
}

.footerNav a:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.footerNav a:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.footerSocial {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footerSocial img {
  height: 1.2rem;
  margin: 0.75rem;
  cursor: pointer;
}

.footerSocial img:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.footerSocial img:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}


@media only screen and (max-width: 800px) {
  .footer {
    display: none;
  }

}
