.nav {
  display: flex;
  flex-direction: row;
  height: 12vh;
  padding: 0 0 0 2rem;
}

.navLogo {
  display: flex;
  height: 100%;
  align-items: center;

}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navLinks a {
  font-family: Montserrat-Bold;
  color: white;
  padding: 2rem;
  cursor: pointer;
}

.navLinks a:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.navLinks a:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.desktopLogo {
  height: 3rem;
}

.mobileLogo {
  display: none;
  height: 2rem;
}

.hamIcon {
  display: none;
  height: 1.5rem;
  margin: 2rem;
}

@media only screen and (max-width: 900px) {
  .desktopLogo {
    display: none;
  }

  .mobileLogo {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .navLinks a {
    display: none;
  }

  .hamIcon {
    display: block;
  }

}
